@charset "UTF-8";
@font-face {
    font-family: 'Gymnast';
    src: url(../fontes/MiseryGymnast.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --cor1:#081826;
    --cor2:#364959;
    --cor3:#F27405;
    --cor4:#F25C05;
    --cor5:#8C2703;
    --fonte-padrao:Verdana, Geneva, Tahoma, sans-serif;
    --fonte-destaque:'Open Sans', sans-serif;;
    --fonte-gymnast:'Gymnast',cursive;
    
}

*{
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    color:white;
    padding:60px;
    background-image: linear-gradient(to bottom,var(--cor1),var(--cor5));
    font-family: var(--fonte-destaque);
    font-weight: bolder;
    font-size: 1.5em;
    text-shadow: -4px 3px 5px black;
}

header p{
    margin-top: 50px;
}

nav{
    background-color: var(--cor1);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.507);

}

nav a{ 
    color: var(--cor4);
    font-size: 1.5em;
    font-family: var(--fonte-gymnast);
    text-decoration: none;
    padding: 20px;
    transition-duration: 0.6s;
    border-radius: 5px;
    
}

nav a:hover{
    background-color: var(--cor4);
    text-decoration: underline;
    color: black;
    padding: 5px;
}

nav a:active{
    background-color: var(--cor4);
    color: white;
}



body{
    background-color:var(--cor2);
}

  p.paragrafo{
    text-indent: 50px ;
}

main{
    margin: auto;
    padding:20px;
    max-width: 1100px;
    min-width: 320px;
    background-color: white;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: var(--fonte-padrao);
    line-height: 2em;
    box-shadow: 0px 3px 9px 2px rgba(0, 0, 0, 0.575);
    text-align: justify;
}

img.imagemPrincipal{
    padding-bottom: 50px;
}

article img{
    display: block;
    margin: auto;
    width: 100%;
}

article>ul{
    list-style-position: inside;
    margin-left: 30px;
    list-style-type: '\2714\00A0\00A0';
}

article>ol{
    list-style-position: inside;
    margin-left: 30px;
}
ol>li{
    font-size: 1.2em;
    font-weight: bolder;
}

ol>p{
    text-indent: 50px;
}

h1#principal{
    font-family: var(--fonte-gymnast);
    color: var(--cor1);
    font-size: 3em;
    margin: 20px;
    font-weight: normal;
}



h2.titulo{
    background-image: linear-gradient(to right,var(--cor1),transparent);
    font-family: var(--fonte-gymnast);
    color: var(--cor3);
    padding: 5px;
    margin-left: -20px;
    font-size: 2em;
    font-weight: normal;
}
div.video{
    background-color: var(--cor1);
    margin:0px -20px 30px -50px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video>iframe{
    position:absolute;
    top:5%;
    left: 5%;
    width: 90%;
    height: 90%;
}



footer{
    color: var(--cor4);
    background-color: var(--cor1);
    text-align: center;
    padding: 10px;
    font-family: var(--fonte-gymnast);
    font-size: 1.5em;

}

footer a{
    text-decoration: none;
    color: var(--cor4);
    border-radius: 5px;
    padding: 10px;
}

footer a:hover{
    background-color: var(--cor4);
    text-decoration: underline;
    color: black;
}

